/* css styles */

@font-face {
  font-family: "Highway Gothic";
  src: url("hwygoth.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, .navbar-brand {
  font-family: "Highway Gothic", sans-serif;
  letter-spacing: 0.08em;
}

.navbar { background: black !important; }

.navbar a { color: white !important; }

a { color: black; }

a:hover { text-decoration: underline; }